<% if @result.each do |post| %>
    <div class="post">

        <h2 class="title"><%= link_to post.title,post %></h2>
        <div class="entry"><%= post.body %></div>
        <div class="byline">
            <p class="meta">May 07, 2012 Posted by <a href="#">Someone</a></p>
            <p class="links"><a href="post.html">Read More</a> BLAH BLAH BLAH</p>
        </div>
    </div>
<% end.empty? %>
    <div class="post">
        <p>Sorry, There are no posts that you're search</p>
    </div>
<% end %>
<div class="post"><%= link_to "Go Back All Posts", posts_path %></div>