<h1>Blog Post</h1>
<% @post.each do |post| %>
    <h3><%= link_to post.title,post %></h3>
    <p><%= post.body %></p>
    <hr>
<% end %>
<%= link_to "Add New Post",new_post_path %>








<!--
<h3>Sample Post One</h3>
<p>This is some sample text for our awasome new ruby blog</p>
<hr>
<h3>Sample Post Two</h3>
<p>This is more sample text for our awasome new ruby blog</p>-->
